/**
 * wiki.styl
 */

#search-box
	flex(column, wrap)
	flex-justify(flex-start)
	flex-align(center)

#search-result-list-wrapper
	flex(column, wrap)
	flex-justify(flex-start)
	flex-align(flex-start)

#keywords
	margin-top: 10px
	width: 260px
	height: 1.2rem
	font-size: 1.02rem

#searching
	margin-top: 10px

#search-result-list-box
	margin-top: 10px


.switch-search-result-list-move
	transition: transform .3s

