/**
 * topmenu.styl
 */

#topmenu
	set-flex()
	set-flex-order-column()
	set-flex-justify-start()
	set-flex-align-center()
	margin-bottom: 1em
	a:link
		color: default-font-color
		text-decoration: none

#topmenu-title
	font-size: 1.1em
	font-weight: bold
	margin-bottom: 0.5em

#topmenu-page-navi
	set-flex()
	set-flex-order-row()
	set-flex-justify-center()
	set-flex-align-center()
	margin-bottom: 0.5em

#topmenu-page-title
	font-size: 1.4em
	font-weight: bold

