/**
 * style.styl
 */
@import "../../font"
@import "../../flex"
@import "../../keyframes"

default-font-color=#202020

body
    margin: 0px

h3
    margin-top: 0.3em
    margin-bottom: 0.3em

.fade-enter-active, .fade-leave-active
    transition: opacity .3s

.fade-enter, .fade-leave-to
    opacity: 0

.bold
    font-weight: bold

.large
    font-size: 1.4em

.small
    font-size: 0.8em

.x-small
    font-size: 0.6em

.center
    text-align: center

#container
    width: 100vw
    height: 100vh

#app
    width: 100%
    height: 100%
    set-flex()
    set-flex-order-column()
    set-flex-justify-center()
    set-flex-align-center()

.rotate
    position: fixed
    left: 50%
    top: 50%
    margin-top: -30px
    margin-left: -30px
    width: 60px
    height: 60px
    animation: rotating 1.7s linear infinite

.translate
    cursor: pointer
    set-flex()
    set-flex-order-row()
    set-flex-justify-center()
    set-flex-align-center()
    border: none
    min-width: 90px
    margin-left: 0.2em
    padding: 2px 4px
    font-size: 0.9em
    text-decoration: none
    background-color: #e0e0e0
    @media screen and (max-width: 420px), screen and (max-device-width: 420px)
        width: 50%
        min-width: 0
        font-size: 0.8em

@import "routes/components/topmenu"
@import "routes/webgl"
@import "routes/wiki"
