/**
 * topmenu.styl
 */

#logo
	margin-top: 6px

#topmenu
	flex(column, wrap)
	flex-justify(flex-start)
	flex-align(center)
	a:link
		color: #000
		font-size: 0.8rem
		text-decoration: none

#navi
	margin-top: 10px


