/**
 * main.styl
 */
@import "modules/flex"

html, body, button
	font-size: 1rem
	font-feature-settings: "palt" 1
	font-family: verdana

body
	margin: 0px
	padding: 0px
	background-image: url("../images/bg.png")
	background-repeat: repeat

html, body, #container-wrapper
	overflow: hidden
	height: 100%
	width: 100%

#container-wrapper
	flex(row, wrap)
	flex-justify(rcenter)
	flex-align(rcenter)

#container
	overflow: hidden
	height: 94%
	width: 94%
	flex(column, wrap)
	flex-justify(flex-start)
	flex-align(center)

.btn
	display: inline-block
	outline: none
	padding: 6px
	background-color: #dedede
	color: #444
	text-align: center
	text-decoration: none

.btn-active
	background-color: #de2222
	color: #fff

#search-box
	flex(column, wrap)
	flex-justify(flex-start)
	flex-align(center)

#search-result-list-wrapper
	flex(column, wrap)
	flex-justify(flex-start)
	flex-align(flex-start)

#keywords
	width: 240px
	font-size: 1.2rem
	height: 1.4rem

#searching
	margin-top: 10px

#search-result-list-box
	margin-top: 10px


.switch-search-result-list-move
	transition: transform .3s

#webgl-wrapper
	flex(rows, wrap)
	flex-justify(center)
	margin-top: 10px

