/**
 * grid.styl
 */

#webgl-container
	width: 100%
	height: 100%
	set-flex()
	set-flex-order-column()
	set-flex-justify-start()
	set-flex-align-center()
	background-color: #ebebeb

#webgl
	width: 100%
	set-flex()
	set-flex-order-column()
	set-flex-justify-start()
	set-flex-align-center()

